extends ../shared/layout
block main-content
    .page-header
        h1 Ask Question
    form.form-horizontal(method="post" action="/forum-thread/add")
        .form-group
            label.col-sm-2.control-label(for="title") Title
            .col-sm-3
                input.form-control(type="text" , name="title" , id="title")
        .form-group
            label.col-sm-2.control-label(for="description") Description
            .col-sm-3
                textarea.form-control(rows="5",cols="50",name="description",id="description")
        .form-group
            label.col-sm-2.control-label(for="selectpicker") Category
            .col-sm-3
                select.form-control(id="selectpicker", name="selectpicker")
                    each category in categories
                        option(value=category.title) #{category.title}
        .form-group
            .col-sm-offset-2.col-sm-3
                input.btn.btn-default(type="submit", value="Create")